html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #457b9d;
    

}

#main--div {
    background-image: url("https://media.giphy.com/media/I7V6Te1Ka0U00/giphy.gif");
    background-repeat: no-repeat;
    background-size:cover;
    width: 75%;
    height: 1000px;
    color: white;
    font-size: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.main--div--h1{
    display: inline;
    margin-top: 30;
    color: #669bbc;
    text-shadow: 0 0 10px black;
}

.main--div--btn {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    background-color: white;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #669bbc;
}

.underline {
    border-bottom: 8px white solid ;
}


.main--h3 {
    
    font-size: 80px;
    color: #c1121f;
}

#main--div--2 {
    background-color: #003049;
    height: 295px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}